<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}!
  </h1>

  <div> Months :
    <select (change) = "changemonths($event)">
       <option *ngFor = "let i of months">{{i}}</option>
    </select>
 </div>
 <br/>
 <div>
    <span *ngIf = "isavailable; then condition1 else condition2">
       Condition is valid.
    </span>
    <ng-template #condition1>Condition is valid</ng-template>
    <ng-template #condition2>Condition is invalid</ng-template>
 </div>
 <button (click)="myClickFunction($event)">
    Click Me
 </button>


 <button (click)="decrement()">-</button>
{{value}}
<button (click)="increment()">+</button>

<span appTestdirective> hello baby</span>
</div>

<ul>
 
  <!--<li><button type="submit" (click) = "login();" id="login" class="btn btn-primary">Login</button></li>-->

</ul>
<router-outlet></router-outlet>
